@media screen and (max-width:1200px) {
  .services__block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .services__item {
    width: calc(25% - 20px);
    margin: 10px
  }
}
@media screen and (max-width:992px) {
  .services__item {
    width: calc(33.3333333333% - 20px)
  }
  .page-marketing__list li {
    padding: 30px
  }
  .page-training__counts .counts__item .item__top span {
    font-size: 50px;
    line-height: normal
  }
  .black-items .results__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px
  }
  .black-items h2 {
    margin-bottom: 30px;
    font-size: 30px
  }
  .page-training__counts .counts__item img {
    width: 50px
  }
  .page-training__counts .counts__item .item__top {
    height: 80px
  }
  .page-tips__item .item__top {
    display: block
  }
  .page-tips .mb-100 {
    margin-bottom: 100px
  }
  .page-training h2 {
    margin-bottom: 20px;
    font-size: 30px
  }
  .page-training .subtitle {
    font-size: 16px
  }
  .page-tips__item .item__num {
    margin: 0;
    margin-bottom: 20px
  }
  .page-tips__item .item__content {
    margin-left: -25px;
    margin-right: 0;
    margin-top: -10px;
    margin-bottom: -10px
  }
  .page-tips__item .item__content .item__inner {
    margin: 10px 25px
  }
  .sides {
    display: block
  }
  .page-index__main .lft {
    margin: 0
  }
  .page-first-time-here__list ul {
    margin: 0 -10px
  }
  .page-first-time-here__list li {
    margin: 0 10px
  }
  .page-index__rht img {
    margin: 0 auto;
    max-width: 431px;
    width: 100%
  }
  .page-first-time-here__main .rht,
  .page-index__rht {
    margin: 0;
    text-align: center;
    margin-top: 20px
  }
  .page-seminars__click h2 {
    font-size: 30px;
    margin-bottom: 25px
  }
  .page-seminars__black h2 {
    font-size: 30px
  }
  .page-seminars__main a {
    margin-top: 30px
  }
  .main p {
    font-size: 16px
  }
  .main h1 {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 30px
  }
  .page-meeting__list ol {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr)
  }
  .page-meeting__info .wrapper {
    margin-left: 20px;
    margin-right: 20px;
    width: auto
  }
  .page-team li {
    display: block;
    margin: 50px 0
  }
  .page-team .li__block:after {
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
    bottom: -30px
  }
  .page-team .li__block {
    margin: 20px 0
  }
  .page-team a {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px
  }
  .page-team h2 {
    font-size: 30px
  }
}
@media screen and (max-width:768px) {
  .page-team .li__block {
    height: auto;
    padding: 20px
  }
  .page-meeting__list .button-p {
    margin-top: 40px
  }
  .page-tips__item .item__content {
    display: block
  }
  .page-tips {
    padding-top: 70px
  }
  .img-max-w:first-child img {
    width: 100%
  }
  .img-max-w:last-child img {
    max-width: 158px;
    width: 100%
  }
  .page-marketing__list li {
    width: 100%;
    margin: 20px 0
  }
  .page-marketing__black .black__block {
    grid-gap: 15px
  }
  .page-marketing__black .black__block_four {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3,1fr)
  }
  .page-marketing__list ul {
    display: block;
    margin: 0
  }
  .page-team .li__block b {
    font-size: 20px
  }
  .page-team .li__block span {
    font-size: 16px
  }
  .services__item {
    width: calc(50% - 20px)
  }
  .page-meeting__black li {
    width: calc(33.3333333333% - 50px)
  }
  .page-seminars__info .info__block {
    display: block
  }
  .page-seminars__info .info__item {
    margin-bottom: 20px
  }
  .page-seminars__info .info__item:last-child {
    margin-bottom: 0
  }
  .page-seminars__info h3 {
    text-align: left
  }
  .page-first-time-here__list li {
    margin: 0
  }
  .page-first-time-here__list ul {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px
  }
  footer .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .page-index__main .subtitle {
    font-size: 14px;
    margin-bottom: 20px
  }
  .page-index h1 {
    margin-bottom: 20px
  }
  .page-index__main .rht img {
    max-width: 431px;
    width: 100%
  }
  .page-index__main li {
    margin-bottom: 10px
  }
  .page-index__main li,
  p {
    font-size: 14px;
    line-height: normal
  }
  .pb-100 {
    padding-bottom: 80px
  }
  .mb-100 {
    margin-bottom: 80px
  }
  .blockquotes img {
    margin-bottom: 10px
  }
}
@media screen and (max-width:576px) {
  .pb-100 {
    padding-bottom: 50px
  }
  .page-tips {
    padding-top: 40px
  }
  .mb-100 {
    margin-bottom: 50px
  }
  .page-marketing__black .black__block {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px
  }
  .page-marketing__black .black__block .img {
    padding: 5px
  }
  .page-marketing__black i {
    font-size: 12px
  }
  .page-marketing__black a {
    margin-top: 20px
  }
  .page-marketing__black {
    padding-top: 20px
  }
  .page-marketing__list li {
    padding: 10px;
    padding-left: 30px
  }
  .page-marketing__list .li__top {
    margin-left: -15px
  }
  .page-marketing h1 {
    margin-bottom: 10px
  }
  .page-marketing__list ul {
    margin: -10px 0
  }
  .page-marketing__list li {
    margin: 10px 0
  }
  .page-marketing__black h2 {
    font-size: 24px
  }
  .page-marketing__black h3 {
    font-size: 16px;
    margin-bottom: 10px
  }
  .page-team h2 {
    font-size: 24px
  }
  .page-team h1 {
    margin-bottom: 20px
  }
  .page-first-time-here,
  .page-marketing,
  .page-meeting,
  .page-seminars,
  .page-team,
  .page-training {
    padding-top: 20px
  }
  .main h1 {
    font-size: 36px
  }
  .main p {
    font-size: 14px
  }
  .main p br {
    display: none
  }
  .page-meeting__black h2 {
    margin-bottom: 20px;
    font-size: 24px
  }
  .page-meeting__black li {
    width: calc(50% - 40px);
    margin: 20px
  }
  .page-meeting__list ol {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px
  }
  .page-meeting__list li {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px
  }
  .page-meeting__list li:before {
    font-size: 60px;
    line-height: normal;
    top: 50%;
    bottom: auto;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .page-meeting__list p {
    font-size: 16px
  }
  .page-meeting .buttons {
    display: block;
    margin-top: 20px
  }
  .page-meeting .buttons a {
    margin: 10px 0
  }
  .page-seminars__main a {
    margin-top: 20px
  }
  .page-seminars__info h3 {
    font-size: 20px;
    margin-bottom: 15px
  }
  .page-seminars__info p {
    font-size: 14px
  }
  .page-seminars__black h2 {
    font-size: 20px;
    margin-bottom: 20px
  }
  .page-seminars__black p {
    font-size: 14px;
    line-height: normal
  }
  .page-seminars__black {
    padding: 20px 0
  }
  .page-seminars__info li {
    font-size: 14px;
    margin-bottom: 10px
  }
  .page-seminars__main a {
    padding-top: 10px;
    padding-bottom: 10px
  }
  .page-seminars__info li:before {
    margin-right: 5px;
    width: 18px;
    min-width: 18px;
    height: 18px
  }
  .page-seminars__click h2 {
    font-size: 20px;
    margin-bottom: 15px
  }
  .page-seminars__click a {
    padding-top: 10px;
    padding-bottom: 10px
  }
  .black-items h2 {
    margin-bottom: 10px;
    font-size: 20px
  }
  .page-training__counts .counts__block {
    display: block
  }
  .page-training__counts .counts__item {
    margin: 20px 0
  }
  .page-training__counts .counts__item .item__top span {
    font-size: 30px
  }
  .page-training__counts .counts__item img {
    width: 30px
  }
  .page-training__counts .counts__item .item__top {
    height: 40px
  }
  .black-items .item__top img {
    width: 70px
  }
  .black-items .item__top span {
    font-size: 18px
  }
  .black-items p {
    font-size: 14px
  }
  .black-items .item__top {
    margin-bottom: 10px
  }
  .page-training h1 {
    font-size: 24px
  }
  .black-items .results__block {
    display: block
  }
  .page-training h2 {
    font-size: 20px
  }
  .black-items .results__item {
    margin: 20px 0
  }
  .page-training .akkordion__head span {
    font-size: 14px
  }
  .page-training .akkordion__head {
    padding-bottom: 10px
  }
  .page-training .akkordion {
    margin-bottom: 10px
  }
  .page-training .akkordion__body .duration span {
    margin-left: 10px
  }
  .page-training .akkordion__body .buttons {
    display: block;
    margin-top: 20px
  }
  .page-training .akkordion__body .buttons a {
    margin: 0;
    margin-bottom: 10px
  }
  .page-training .akkordion__body .duration span,
  .page-training .akkordion__body b {
    font-size: 14px
  }
  .page-training .akkordion__head {
    line-height: 100%
  }
  .page-training .akkordion__body li:before {
    min-width: 7px;
    height: 7px;
    width: 7px;
    margin-right: 7px
  }
  .black-items {
    padding: 20px 0
  }
  .page-training .subtitle {
    font-size: 14px
  }
  .page-tips__item .item__content .item__inner {
    width: 100%;
    margin: 10px 0
  }
  .page-tips__item .item__top {
    margin-bottom: 20px
  }
  .page-tips .mb-100 {
    margin-bottom: 50px
  }
  .page-tips__item .item__content {
    margin: 0
  }
  .blockquotes {
    padding: 20px 0
  }
  h2 {
    margin-bottom: 20px
  }
  .page-first-time-here__team h2,
  h2 {
    font-size: 20px
  }
  .blockquotes p {
    font-size: 16px
  }
  .button-empty,
  .button-full {
    padding: 10px;
    font-size: 12px;
    line-height: normal
  }
  .header__languages {
    margin-left: 10px
  }
  .header__logo {
    max-width: 40px
  }
  .services__item p {
    font-size: 16px
  }
  .services__item a {
    padding: 12px
  }
  .services__item {
    height: 200px
  }
  .services__item img {
    height: 70%;
    -o-object-fit: contain;
    object-fit: contain
  }
}