.popup
	.popup__bgd
	.popup__content
		.popup__close x
		<iframe name="iframe_form"></iframe>
footer.footer

	.wrapper

		.footer__lft
			a(href="#").footer__logo
				img(src="img/logoFooter.png" alt="Photo")
			p Speitho is a boutique firm specialised in capital raising services. We serve individuals and financial professionals such as private banks, alternative investment funds and wealth management companies. We make capital raising and sale of investment products easier.
		.footer__menu
			h3 Office
			ul
				li London
				li Dubai
				li Moscow
				li Paris
		.footer__contacts
			h3 Contact us
			a(href="mailto:hello@speitho.com")
				img(src="img/emailIco.svg" alt="Ico")
				span hello@speitho.com
		.footer__social
			h3 Socials
			img(src="img/linkedin.svg" alt="Ico")

<!-- jQuery JS -->
script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")

<!-- slick JS -->
script(src="js/slick.min.js")

<!-- wow JS -->
script(src="js/wow.min.js")

<!-- main JS -->
script(src="js/main.js")































	