doctype html
html(lang="en")
	head
		title SPEITHO

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="description" content="Description of website")
		meta(name="keywords" content="Website")

		<!-- Franklin FONT -->
		link(href="https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")


		<!-- Slick SLIDER -->
		link(rel="stylesheet" href="css/slick/slick-theme.css")
		link(rel="stylesheet" href="css/slick/slick.css")
		<!-- Slick SLIDER -->

		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/style.css")

	body
		header.header
			.wrapper
				a(href="index.html").header__logo
					img(src="img/logo.png" alt="Logo")
				.header__rht
					a(href="tips.html").button-full
						span Three tips
					a(href="first-time-here.html").button-empty
						span First time here?
					ul.header__languages
						li.li_active
							a(href="#") EN
						li
							a(href="#") FR
		
		block content
































			