extends includes/header.pug

block content

	main.page-first-time-here

		section.page-first-time-here__main.main.mb-100
			.wrapper
				.sides
					.page-index__lft.lft
						h1 Peitho is the Greek goddess or spirit of seduction, charming speech and particularly of persuasion
						p In much of Greece, Peitho was also worshiped as an important civic goddess and a unifying force.
						p Peitho did not inspire harmony, she persuaded people to come to agreements and work together.
						p Similarly, she was the dominant goddess for rhetoricians in their field. Rhetoric and oration were devoted to persuading people toward the speaker’s beliefs, so Peitho was thought to inspire their words. 
					.page-index__rht.rht
						img(src="img/firstTimeHerePhoto.png" alt="Photo")

		section.page-first-time-here__list.mb-100
			.wrapper
				ul
					li
						h3 Life-Long Learning
						p Not only have we assembled a team of highly qualified specialists, but also we enhance our capacity through development programs and learning from feedback. 
					li
						h3 Our Past Experience
						p Our knowledge of specifics regarding work with investors does not solely rely on theory, but on years of experience in direct work with them. 
					li
						h3 Solid Results
						p The practical know-how and digital solutions provided to our clients revitalize their businesses and generate substantial outcomes. We operate on a no-questions-asked refund policy and achieve a full customer satisfaction. 

		section.blockquotes.page-first-time-here__blockquotes.mb-100
			.wrapper
				.blockquotes__text
					p We have earned to trust of and we are proud to serve: Private banks, Asset managers, Hedge fund managers, Wealth advisors, Bond issuers, Real estate developers across the globe.

		section.page-first-time-here__team.mb-100
			.wrapper
				h2 A whole team of professionls dedicated to your success
				img(src="img/team.jpg" alt="Photo")


	include includes/footer.pug



























	