extends includes/header.pug

block content

	main.page-index

		section.page-index__main.main
			.wrapper
				.sides
					.page-index__lft.lft
						h1 Never miss again an opportunity to sell your investment
						p.subtitle In an overcrowded financial world, it is becoming harder and harder to get investors’ attention.
						p 
							b Speitho
							| is an independent consulting firm focused on helping you reach 3 objectives:
						ul
							li Get a sophisticated marketing approach
							li Turn leads into investors faster
							li Get your sales team to live up to your expectations
					.page-index__rht.rht
						img(src="img/mainPhoto1.svg" alt="Photo")

		section.blockquotes.mb-100
			.wrapper
				.blockquotes__text
					img(src="img/quotes.svg" alt="Photo")
					p A person must prepare himself intellectually and professionally and then use his powers to their fullest extent

		section.page-index__services.services.mb-100
			.wrapper

				h2 /Our Services

				.services__block

					.services__item
						img(src="img/services1.png" alt="Photo")
						p Training
						a(href="#")
							span LEARN MORE
							<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="#FFFDF7"/></svg>
					.services__item
						img(src="img/services2.png" alt="Photo")
						p Seminars
						a(href="#")
							span LEARN MORE
							<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="#FFFDF7"/></svg>
					.services__item
						img(src="img/services3.png" alt="Photo")
						p Preparation for meeting
						a(href="#")
							span LEARN MORE
							<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="#FFFDF7"/></svg>
					.services__item
						img(src="img/services4.png" alt="Photo")
						p Sales Team Management
						a(href="#")
							span LEARN MORE
							<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="#FFFDF7"/></svg>
					.services__item
						img(src="img/services5.png" alt="Photo")
						p Marketing Tools
						a(href="#")
							span LEARN MORE
							<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z" fill="#FFFDF7"/></svg>


	include includes/footer.pug



























	