extends includes/header.pug

block content

	main.page-marketing

		section.page-marketing__main.main

			.wrapper

				h1 Marketing Tools
				p Some meetings with investors are too important to go in alone. <br />Sophisticated marketing approach a huge competitive advantage
				p Each marketing tool is designed and tailored specifically to the needs of your company, providing a personalized and individualized marketing approach like no other. They are fully customizable so you can adapt it to your needs and include your logos and branding.

		section.page-marketing__list.mb-100

			.wrapper

				ul

					li
						.li__top
							img(src="img/marketing/ico1.svg" alt="Ico")
							span Preparatory tools
						.li__list
							.list__item
								b
									span Cheat page
								p One-page summary of everything distributors need to know before distributing an offer
							.list__item
								b
									span Preparation session 1 (Understanding the offer
								p Educational session to get an overview of the market and an insight into the investment offer
							.list__item
								b
									span Preparation session 2 (Pitching)
								p Educational session to be better prepared to pitch the offer
							.list__item
								b
									span Preparation session 3 (Objections and tricky questions
								p Educational session built to identify and easily resolve most of your prospect’s objections
					li
						.li__top
							img(src="img/marketing/ico2.svg" alt="Ico")
							span Prospecting tools
						.li__list
							.list__item
								b
									span Video presentation
								p Short animated video presentation of the opportunity to create curiosity
							.list__item
								b
									span 10-slide presentation
								p 10-slide presentation for face-to-face meetings
							.list__item
								b
									span Animated infographics
								p One-page visual illustration of the investment offer
							.list__item
								b
									span One-page summary
								p One-page summary of the investment offer
					li
						.li__top
							img(src="img/marketing/ico3.svg" alt="Ico")
							span Educational tools
						.li__list
							.list__item
								b
									span Comparison table
								p One-page visual to highlight the quality of the offer
							.list__item
								b
									span Worst-case scenario
								p One-page document detailing the worst possible investment outcome
							.list__item
								b
									span Educational white paper
								p Visualized glossary of key terms
							.list__item
								b
									span Video "What if"
								p Animated video in the form of questions & answers to remove investors’ doubts
							.list__item
								b
									span Video "Glimpse into the company"
								p Set of images providing an indication of the opportunit
					li
						.li__top
							img(src="img/marketing/ico4.svg" alt="Ico")
							span Follow-up tools
						.li__list
							.list__item
								b
									span Top 10 reasons to invest
								p One-page summary of the top 10 reasons why prospects should invest
							.list__item
								b
									span Video Interview
								p 5-minute video interview with the main team members to reassure investors
							.list__item
								b
									span Why is it safe to invest?
								p One-page document on investor security
							.list__item
								b
									span How the offer fits in your allocation?
								p Document explaining why the investment should be included in the portfolio of your prospect
							.list__item
								b
									span Ready-to-use webinar
								p Instructions on how to organize and conduct the presentation of the offer, ready script and designed presentation
							.list__item
								b
									span 15-20 follow-up emails
								p Emails to introduce the opportunity, reassure investors, remove any doubts and to further follow-up with prospects

		section.page-marketing__black.pb-100

			.wrapper

				h2 Have a glance at some examples of what we can create for you

				.black__block.black__block_four
					.black__item
						.item__title
							h3 Emails
							.img
								img(src="img/marketing/blackPhoto1-1.jpg" alt="Photo")
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto1-2.jpg" alt="Photo")
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto1-3.jpg" alt="Photo")
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto1-4.jpg" alt="Photo")
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto1-5.jpg" alt="Photo")
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto1-6.jpg" alt="Photo")
				.black__block.black__block_four
					.black__item
						.item__title
							h3 Video Presentation
							.img
								img(src="img/marketing/blackPhoto2-1.jpg" alt="Photo")
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto2-2.jpg" alt="Photo")
					.black__item
						.item__title
							h3 What If Video
							.img
								img(src="img/marketing/blackPhoto2-3.jpg" alt="Photo")
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto2-4.jpg" alt="Photo")
				.black__block.black__block_three
					.black__item
						.item__title
							h3 Preparatory sessions
							.img
								img(src="img/marketing/blackPhoto3-1.jpg" alt="Photo")
							i Preparation session 1: Overview of the offer
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto3-2.jpg" alt="Photo")
							i Preparation session 1: Overview of the offer
					.black__item
						.item__title
							.img
								img(src="img/marketing/blackPhoto3-3.jpg" alt="Photo")
							i Preparation session 1: Overview of the offer
			a(href="#").button-full Free audit of marketing tool you need to have
		

	include includes/footer.pug



























	