extends includes/header.pug

block content

	main.page-meeting

		section.page-meeting__main.main

			.wrapper

				h1 Investor Meeting Preparation

				p Some meetings with investors are too important to go in alone. <br />Our team will coach you throughout the process to help you build a strategy and walk with you though each stage of the meeting.

		section.page-meeting__list.mb-100

			.wrapper

				ol

					li
						p Pre-meeting preparation
					li
						p Prepare and master the sales pitch
					li
						p Get prepared for tricky questions and tough objections
					li
						p Role play simulation
					li
						p Post-meeting roadmap

				.buttons

					a(href="#").button-full Get a 20-minute free discovery coaching
					a(href="#").button-empty I am ready to start

		section.page-meeting__black.mb-100

			.wrapper

				h2 Types of investors meeting

				ul
					li
						img(src="img/meeting/blackIco1.svg" alt="Ico")
						p Love Money (Friends&Family)
					li
						img(src="img/meeting/blackIco2.svg" alt="Ico")
						p Hight Net Worth Individuals
					li
						img(src="img/meeting/blackIco3.svg" alt="Ico")
						p Sovereign Wealth Funds
					li
						img(src="img/meeting/blackIco5.svg" alt="Ico")
						p Banks&Financial Institutions
					li
						img(src="img/meeting/blackIco6.svg" alt="Ico")
						p Private Equity Investors
					li
						img(src="img/meeting/blackIco7.svg" alt="Ico")
						p Incubators/ Accelerators
					li
						img(src="img/meeting/blackIco8.svg" alt="Ico")
						p Family Offices
					li
						img(src="img/meeting/blackIco9.svg" alt="Ico")
						p Pension Funds
					li
						img(src="img/meeting/blackIco4.svg" alt="Ico")
						p Hedge Funds

		section.page-meeting__info.mb-100

			.wrapper

				img(src="img/meeting/icoInfo.svg" alt="Ico")
				h3 Practical information
				p Session are held virtually and recorded for your convenience



		

	include includes/footer.pug



























	