extends includes/header.pug

block content

	main.page-team

		.page-team__main.main.mb-100

			.wrapper

				h1 Sales Team Management
				p Is the sale of your investment product too slow? <br />Is your sales team underperforming with too many meetings that bring little to no results? Are junior sales taking too much time to become operational?
				p Sales team and intermediaries need a roadmap and ongoing support to successfully turn leads into investors.
				p We have launched Speitho Odysseus(c), a unique support and motivation tool to help manage your sales team, whether it be an in-house sales team or external intermediaries.
				a(href="#").button-full 10-minute demo version


		.page-team__list.mb-100

			.wrapper

				ul
					li
						.li__block
							span Too many meetings with prospective investors bring little to no results?
						.li__block
							b TRAINING
						.li__block
							span Turn leads into investors faster with the help of training sessions.
					li
						.li__block
							span Sales and marketing documents are stored in different places?
						.li__block
							b ALL-IN-ONE PLATFORM
						.li__block
							span Your tailor-made platform will keep all documents in one place and give you a secure access to all your marketing and sales files, marketing videos, ready-to-send emails, sales pitches, legal documents prospects’ objections and training sessions.
					li
						.li__block
							span Are there deficiencies in core competency that must be addressed?
						.li__block
							b COACHING
						.li__block
							span Unlock better performance of your sales teams empowering them with individual coaching.
					li
						.li__block
							span Little if anything differentiates you from competitors?
						.li__block
							b MARKETING
						.li__block
							span Stand out using investor educational tools, prospecting tools, follow-up tools with a guidance when and how to use them.


		.page-team__bottom.mb-100

			.wrapper

				h2 Get your sales team to live up to your expectations!
				a(href="#").button-full 10-minute demo version



		

	include includes/footer.pug



























	