extends includes/header.pug

block content

	main.page-tips

		section.page-tips__item.page-tips__item_1.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 01
					.item__text
						h2 Send a short message to introduce your offer
						p Avoid the clutter of email journeys and calls when introducing your offer. Simply send a short message with a link to a video explainer on social media.
				.item__content
					.item__inner
						img(src="img/tips/tip1-2.svg" alt="Photo")
					.item__inner
						.text-block
							.img
								img(src="img/tips/tip1-1.svg" alt="Photo")
							.text.text_top
								b Your Prospect
								span tap here for contact info
							.text.text_main
								p I’d like to share with you a new divesification idea.<br /><br />I don’t want to take too much of your time, here is a video summary:<br /><br /><a href="#">http://vimeo.com/yourvideo</a><br /><br />Are you wondering how this offer may fit your asset allocation? Let’s scedule a 10-minute call.

		section.page-tips__item.page-tips__item_2.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 02
					.item__text
						h2 Reframe their choice
						p When presented with the option between investing now and later, most investors would rather keep the luxury to decide later, known as procrastination. To remove this luxury, reframe the choice of now / later into two different options A and B.
				.item__content
					.item__inner
						.text-block
							.img
								img(src="img/tips/tip2-2.svg" alt="Photo")
							.text
								p Invest now
								p Invest later
					.item__inner
						.text-block
							.img
								img(src="img/tips/tip2-1.svg" alt="Photo")
							.text
								p Option A: Investing now which means making already 1,600USD
								p Option B: Taking the time to think but accepting to lose 1,600USD


		section.page-tips__item.page-tips__item_3.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 03
					.item__text
						h2 Change «we» to «you»
						p Whenever you want to increase the level of a prospect’s interest, be investor-centric and take the perspective of the investor. Change any «we» assertion to «you».
				.item__content
					.item__inner
						.text-block
							.img
								img(src="img/tips/tip3-2.svg" alt="Photo")
							.text
								p INVESTMENT CENRTIC FORM
								span 
									b We 
									| offer a very liquid investment
								span 
									b We 
									| employ a disciplined approach focused on preserving capital
								span 
									b We 
									| are available 24/7
								span 
									b We 
									| are proud of our team of professionals
					.item__inner
						.text-block
							.img
								img(src="img/tips/tip3-1.svg" alt="Photo")
							.text
								p INVESTMENT CENRTIC FORM
								span 
									b You 
									| can withdraw your funds on a weekly basis
								span 
									b Your 
									| assest will be protected from market crashes
								span 
									b You 
									| will have online assistance 24/7
								span 
									b You 
									| will benefit from the experience of our professionals


		section.page-tips__item.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 04
					.item__text
						h2 Create alternative versions of your sales script
						p Not all clients have the same level of financial literacy. You should get several versions of your sales script with the right choice of vocabulary so that it will fit your prospect’s level of comprehension.
				.item__content
					.item__inner.img-max-w
						img(src="img/tips/tip4-1.svg" alt="Photo")
					.item__inner.img-max-w
						img(src="img/tips/tip4-2.svg" alt="Photo")

		section.page-tips__item.page-tips__item_4.mb-100

			.wrapper

				.item__top
					.item__num
						img(src="img/tips/top-sections.svg" alt="Photo")
						.num
							span Tip
							span 04
					.item__text
						h2 Always provide something of value
						p Sending the same repetitive emails is going to annoy most prospects. In order to get answers and to avoid appearing pushy, a follow-up must always contain valuable content.
				.item__content
					.item__inner
						.text-block
							.img
								img(src="img/tips/tip5-2.svg" alt="Photo")
							.text
								small Mon, April 25
								span How are you doing? Let’s grab a coffee?
								small Thur, April 28
								span Have you made up your mind yet?
								small Mon, May 2
								span So should we get started or are you going to procrastinate?
								small Wed, May 11
								span I haven't heard you for a while, would you like to organize a quick call?
					.item__inner
						.text-block
							.img
								img(src="img/tips/tip5-1.svg" alt="Photo")
							.text
								small Mon, April 25
								span As you've mentioned that you are moving abroad, I've created for you a document that states the legal and tax consequences for your assets, as a result of moving. See it attached.
								small Tue, May 10
								span Since you're interested in cryptocurrencies, I want to share with you a white paper on how to choose this kind of investment: <br />
									a(href="#") https://www.dropbox.com/whitepaper


	include includes/footer.pug



























	