extends includes/header.pug

block content

	main.page-training

		section.page-training__main.main.mb-100

			.wrapper

				h1 In-Person Training

				p Trainings give your employees and intermediaries the skills and knowledge they need to boost overall performance.

				p We want to ensure that your sales force can provide you the best possible results.

		section.page-training__content

			.wrapper

				p.subtitle We offer interactive training for financial firms looking to improve their sales team focusing on:

				.akkordion.page-training__akkordion
					.akkordion__head
						img(src="img/training/rombMain.svg" alt="Arr")
						span Introducing an investment product to any potential investor
						.head__arr
							img(src="img/training/arr.svg" alt="Arr")
					.akkordion__body
						b What you will learn:
						ul
							li The 5 stages of the decision process and the window to influence it.
							li The simple process to uncover the real reasons behind your prospective investor’s indecisiveness.
							li The effective strategy to reduce the likelihood of your prospect to turn into a skeptic and to disarm suspicious minds.
							li How to overcome the 6 most frequent fears that paralyze prospective investors.
							li The little-known tool to remove investors’ gut feeling.
							li 5 technics to overcome the fear of being taken advantage of.
						.duration
							b Duration:
							span 3h 30 min
						.buttons
							a(href="#").button-full Get 20-minute free session
							a(href="#").button-empty I want to do it online
				.akkordion.page-training__akkordion
					.akkordion__head
						img(src="img/training/rombMain.svg" alt="Arr")
						span Introducing an investment product to any potential investor
						.head__arr
							img(src="img/training/arr.svg" alt="Arr")
					.akkordion__body
						b What you will learn:
						ul
							li The 5 stages of the decision process and the window to influence it.
							li The simple process to uncover the real reasons behind your prospective investor’s indecisiveness.
							li The effective strategy to reduce the likelihood of your prospect to turn into a skeptic and to disarm suspicious minds.
						.duration
							b Duration:
							span 3h 30 min
						.buttons
							a(href="#").button-full Get 20-minute free session
							a(href="#").button-empty I want to do it online
				.akkordion.page-training__akkordion
					.akkordion__head
						img(src="img/training/rombMain.svg" alt="Arr")
						span Introducing an investment product to any potential investor
						.head__arr
							img(src="img/training/arr.svg" alt="Arr")
					.akkordion__body
						b What you will learn:
						ul
							li The 5 stages of the decision process and the window to influence it.
							li The simple process to uncover the real reasons behind your prospective investor’s indecisiveness.
						.duration
							b Duration:
							span 3h 30 min
				.akkordion.page-training__akkordion
					.akkordion__head
						img(src="img/training/rombMain.svg" alt="Arr")
						span Introducing an investment product to any potential investor
						.head__arr
							img(src="img/training/arr.svg" alt="Arr")
					.akkordion__body
						b What you will learn:
						ul
							li The 5 stages of the decision process and the window to influence it.
							li The simple process to uncover the real reasons behind your prospective investor’s indecisiveness.
							li The 5 stages of the decision process and the window to influence it.
							li The simple process to uncover the real reasons behind your prospective investor’s indecisiveness.
							li The 5 stages of the decision process and the window to influence it.
							li The simple process to uncover the real reasons behind your prospective investor’s indecisiveness.
							li The 5 stages of the decision process and the window to influence it.
							li The simple process to uncover the real reasons behind your prospective investor’s indecisiveness.
							li The 5 stages of the decision process and the window to influence it.
							li The simple process to uncover the real reasons behind your prospective investor’s indecisiveness.
						.duration
							b Duration:
							span 3h 30 min

		section.page-training__results.black-items.mb-100

			.wrapper

				h2 Why does our training deliver the expecte results?

				ol.results__block

					li.results__item
						.item__top
							img(src="img/training/itemTop.svg" alt="Ico")
						p Before each training, a detailed questionnaire is sent to participants to better assess the needs of each of them

					li.results__item
						.item__top
							img(src="img/training/itemTop.svg" alt="Ico")
						p We take a progressive approach, practical cases and roleplay simulations

					li.results__item
						.item__top
							img(src="img/training/itemTop.svg" alt="Ico")
						p After the training, each participant receives our booklet

		section.page-training__counts.mb-100

			.wrapper

				h2 Why are our trainings unique?

				.counts__block

					.counts__item

						.item__top
							span 500+
						.item__bottom
							p Hours of training and coaching delivered to financial advisors, distributors, placement agents, bank employees on how to raise capital and selling investment products

					.counts__item

						.item__top
							span 15+
						.item__bottom
							p Years of practice in the field and 2,000 hours of research

					.counts__item

						.item__top
							img(src="img/training/countsIco.svg" alt="Ico")
						.item__bottom
							p Each participant receives a booklet with ready-to-use templates, ready-to-use scripts

		section.page-training__sure.mb-100

			.wrapper

				h2 Not Sure Yet?

				a(href="#").button-full Get 20-minute free session




	include includes/footer.pug



























	